#my-work {
  height: 100%;
  padding-top: 50px;
}
.projectContainer h3 {
  font-size: 20px;
}
.projectContainer h1,
.projectContainer h2,
.projectContainer h3,
.projectContainer h4 {
  text-align: center;
}
.projectContainer p {
  text-align: center;
  font-size: 20px;
  color: white;
}
.projectContainer h4 {
  font-size: 19px;
  color: black;
}
.projectContainer .reactProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 30%;
  width: 80%;
  margin: 0 auto;
}
.projectContainer .reactProjects p {
  font-size: 15px;
}
.projectContainer .reactProjects h3 {
  font-weight: bold;
  font-size: 23px;
}
.projectContainer .reactProjects .SWAPI {
  width: 20%;
}
.projectContainer .reactProjects .NASA-POD {
  width: 20%;
}
.projectContainer img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}
.projectContainer .ResponsiveDesign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 30%;
  width: 80%;
  margin: 0 auto;
}
.projectContainer .ResponsiveDesign p {
  font-size: 15px;
}
.projectContainer .ResponsiveDesign h3 {
  font-size: 25px;
  font-weight: bold;
}
.projectContainer .ResponsiveDesign .Marketplace {
  width: 20%;
}
